.App {
  text-align: center;
  background: #5CDB95;
  background-size: cover;
  color: black;
  min-height: 100%;
}

h1 {
  margin: 0;
}

.Head {
  font-size: 300%;
  
}

.nav{
  justify-content: center;
}

.n1{
  padding: 4px 30px;
}
.n2{
  padding: 4px 30px;
}
.n3{
  padding: 4px 30px;
}