.Card {
  /* color: #05386B; */
  background: rgba(49, 49, 49, 0.966);
  border: 5px solid;
  border-color: transparent;
  border-radius: 15px 30px;
  margin: 1%;
  padding: 1em;
  width: 30%;
  height: 40vh;
}